.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 90px;
    margin-top: 120px;
    background-color: rgb(103,98,94);
}
.picture {
    /* flex: 1; */
    margin-left: 90px;
}
.headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 10px;
}
.main-headline {
    /* font-weight: 500; */
    font-size: 45px;
}
.main-headline span {
    color: rgb(48,165,210);
}
.sub-headline {
    color: white;
    margin-bottom: 15px;
    /* margin-top: 16px; */
}
.headline button {
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;

}
.cta-work {
    background-color: black;
    margin-right: 20px;
}
.cta-project {
    background-color: rgb(48,165,210);
}
img {
    width: 550px;
}

@media screen and (max-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(103,98,94);
        width: 90%;
        margin-left: 28px;
        margin-right: 0px;
        margin-top: 120px;
        
    }

    .hero img {
        width: 350px
    }
    .picture {
        /* flex: 1; */
        margin-left: 0px;
    }
    .main-headline {
        /* font-weight: 500; */
        font-size: 25px;
        text-align: center;
    }
    .sub-headline {
        display: none;
    }
    .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-left: 55px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1586px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(103,98,94);
        /* width: 90%; */
        margin-top: 80px;
    }
    .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    .main-headline {
        /* font-weight: 500; */
        font-size: 25px;
        text-align: center;
    }
    .sub-headline {
        text-align: center;
        margin: auto;
    }
}